<ng-container *ngIf="!isLoading; else loading">
  <div class="mainContainer" [ngClass]="{'overlay-active': overlay}">
    <div class="content">
      <div class="top-section">
        <p class="main-title">Pokedex</p>
        <img src="../assets/pokeball-v2.svg" class="pokeball-img" alt="Pokeball icon">
      </div>

      <div *ngIf="pokemonList && pokemonList.length > 0; else noData" class="pokedex" [ngClass]="{'overlay-active': overlay}">
        <div *ngFor="let pokemon of pokemonList"
             class="pokemon-card"
             [ngStyle]="{'background-color': findColor(pokemon)?.mainColor || '#b7b7b7'}">
          <div *ngIf="pokemon; else missingPokemon">
            <p class="pokemon-name">{{ pokemon.name }}</p>
            <div *ngFor="let type of pokemon.types" class="pokemon-type">
              <span class="type-label" [ngStyle]="{'background-color': findColor(pokemon)?.lightColor || '#D3D3D3'}">
                {{ type.type.name }}
              </span>
            </div>
            <p class="pokemon-id" [ngStyle]="{'color': findColor(pokemon)?.darkColor || '#929292'}">
              #{{pokemon.id | pokeid}}
            </p>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pokemon.id}}.png"
                 class="pokemon-image" alt="{{ pokemon.name }}">
          </div>

          <ng-template #missingPokemon>
            <p class="missing-pokemon">?</p>
          </ng-template>

          <img src="../assets/pokeball-v2.svg" class="background-pokeball" alt="Pokeball icon">
        </div>
      </div>
    </div>
  </div>
  <app-fab (toggleFABEmiter)="toggleOverlay()" (generationSelected)="filterPokemon($event)" (typeSelected)="filterType($event)"></app-fab>
</ng-container>

<ng-template #loading>
  <div>
    <p>Chargement des pokemons</p>
  </div>
</ng-template>

<ng-template #noData>
  <div>
    <p>Aucun Pokémon disponible</p>
  </div>
</ng-template>
